/* Normolize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* General */
.container {
  width: 1330px;
  margin: 0 auto;
}

/* header */
.header {
  padding: 25px 0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .container .menu,
.header .container .actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

/* .header .container .actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
} */

.header .container .menu li a {
  font-size: 13px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.header .container .actions p a .fa-cart-shopping {
  color: #000000;
}

.header .container .actions p a .fa-heart {
  color: #ff0000;
}

/* Hero */
.hero {
  background-image: url(./images/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 190px 0;
  text-align: center;
  color: #ffffff;
}

.hero .container .title {
  font-size: 43px;
  font-weight: 400;
}

.hero .container .subtitle {
  font-size: 15px;
  font-weight: 400;
  margin: 12px 0 28px;
}

.hero .container .btn {
  outline: 0;
  border: 0;
  background: 0;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}

/* Design */
.design .container .text-content {
  text-align: center;
  margin: 80px 0;
}

.design .container .text-content .title {
  font-size: 43px;
  font-weight: 400;
}

.design .container .text-content .subtitle {
  font-size: 14px;
  color: #a0a0a0;
  margin: 23px 0 26px;
}

.design .container .text-content .btn {
  background: 0;
  border: 0;
  outline: 0;
  color: #000000;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
}

.design .container .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.design .container .wrapper .item {
  text-align: center;
}

.design .container .wrapper .item img {
  width: 658px;
  height: 441px;
}

.design .container .wrapper .item h3 {
  font-size: 27px;
  font-weight: 400;
  margin: 48px 0 23px;
}

.design .container .wrapper .item .btn {
  background: 0;
  border: 0;
  outline: 0;
  font-size: 13px;
  font-weight: 400;
}

/* Products */
.products {
  padding: 100px 0;
}

.products .container .text-content {
  text-align: center;
}

.products .container .text-content .title {
  font-size: 33px;
  font-weight: 400;
}

.products .container .text-content .subtitle {
  font-size: 15px;
  color: #a0a0a0;
  margin: 16px 0 40px;
}

.products .container .text-content .dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.products .container .text-content .dots li {
  width: 7px;
  height: 7px;
  background: #000000;
}

.products .container .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.products .container .wrapper .card .image-block img {
  width: 310px;
  height: 434px;
}

.products .container .wrapper .card .name {
  font-size: 13px;
  color: #a0a0a0;
  margin: 22px 0 5px;
}

.products .container .wrapper .card .price {
  font-size: 12px;
  color: #a0a0a0;
}

/* Office */
.office {
  background: url(./images/office-bg.png) no-repeat center / cover;
  padding: 181px 0;
  text-align: center;
  color: #ffffff;
}

.office .container .text-content .title {
  font-size: 66px;
  font-weight: 400;
}

.office .container .text-content .subtitle {
  font-size: 14px;
  font-weight: 400;
  margin: 15px 0 30px;
}

.office .container .text-content .btn {
  border: 0;
  outline: 0;
  background: 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
}

/* Way */
.way {
  margin: 120px 0 40px;
  text-align: center;
}

.way .container .text-content .title {
  font-size: 34px;
  font-weight: 400;
}

.way .container .text-content .subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #a0a0a0;
  margin: 23px auto;
  width: 777px;
}

/* Staff styles */

.staff .container .title {
  font-size: 34px;
  font-weight: 400;
  text-align: center;
}

.staff .container .subtitle {
  width: 789px;
  font-size: 16px;
  font-weight: 400;
  color: #a0a0a0;
  text-align: center;
  margin: 23px auto 79px;
}

.staff .images {
  width: 1360px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 27px 25px;
}

.staff .container .text-content {
  margin-top: 100px;
}

/* Inspires */
.inspires .container{
  background: #9aa8b1;
  color: #ffffff;
  text-align: center;
  padding: 120px 0;
}


